<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.new.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<meta name = "viewport"
	content="width=device-width, initial-scale=1"/>
<title>Nova Cerveja</title>
<link rel="stylesheet"
	type="text/css"
	th:href="@{/stylesheets/bootstrap.min.css}"/>
	<script th:src="@{/javascripts/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/javascripts/bootstrap.min.js}"></script>
</head>
<body>
<h1>ACESSO NEGADO</h1>
</body>
</html>